@use 'src/assets/styles/_colors' as colors;

.video-side-panel {
    margin-top: 2rem;
}

.video-side-panel__item-preview__wrapper {
    border: 2px solid magenta;
    border-radius: 1rem;
    margin-right: 1rem;
}

.video-side-panel__item-preview {
    width: 250px;
    height: 170px;
    border-radius: 1rem;
    background-image: url('../../../assets/png/code.png');
    background-size: cover;
    filter: blur(2px);
}

.video-side-panel__item {
    display: flex;
    flex-flow: row nowrap;
    position: relative;
}

.video-side-panel__item-icon-block {
    position: absolute;
    top: 32%;
    left: 23%;
    color: #12ca4d;
}

.video-side-panel__item-icon-block > svg {
    width: 70px;
    height: 50px;
}

.video-side-panel__list > * {
    margin-bottom: var(--flow-space, 2em);
}

.video-side-panel__item-lector {
    font-size: 0.9rem
}
