/* You can add global styles to this file, and also import other style files */
@use './assets/styles/' as styles;
@import 'bootstrap/scss/bootstrap';
// @import 'src/assets/styles/_index.scss';

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.dark-theme {
    transition: all 1s ease 0s;
    background: #211e1e;
}

.light-theme {
    transition: all 1s ease 0s;
    background-color: styles.$greyLight-1;
}
